{%extends "index.html"%}

{%block content%}
<style>
    * {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px
    }

    .breadcrumb-item+.breadcrumb-item::before {
        content: ">"
    }

    .breadcrumb {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: .1rem 0rem !important;
        margin-bottom: 0rem;
        list-style: none;
        background-color: #ffffff;
        border-radius: .25rem
    }

    .product_name {
        font-size: 20px;
        font-weight: 400;
        margin-top: 0px
    }

    .product_description {
        padding-left: 0px
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 16px;
    }
</style>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 order-lg-2 order-1"></div>
            <div class="col-lg-10 order-2">
                <div class="product_description">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">About Affiliate Program</li>
                        </ol>
                    </nav><br>
                    <h4><i><b>About the Programme</b></i></h4><br>
                    <h5>What is the mybooks.com affiliate program all about?</h5>
                    <p>
                        Addiction of reading book has no substitute and mybooks.com affiliate program helps you to in cash the charm of online book shopping. With the collection of 8 million local and international books at discounted pricing, buying books online has become a better choice for book lovers. Every time a customer buys using your mybooks.com affiliate link, you stand a chance of getting commission.
                    </p>
                    <hr class="singleline">
                    <p>
                        <h5>How much can I earn through mybooks.com affiliate program?</h5>
                    </p>
                    <p>
                        On the conversion of every link from your website to purchase on booswagon.com, we provide a commission of flat 5%.
                    </p>
                    <hr class="singleline">
                    <p>
                        <h5>How does this work?</h5>
                    </p>
                    <p>
                        We need you to refer visitors from your website/blog to mybooks.com using any tool or technique you want. Every time a visitor who is directed from your website/blog makes a purchase from mybooks.com, you will be paid. That’s all.
                    </p>
                    <p>
                        Hyperlinking the data like book name, author name, edition etc. from mybooks.com maximizes your chance of making money. There are many ways to direct a customer to us using your website/blog. For example, a customer reads a good book review on your blog which has hyperlink of that book from mybooks.com. The customer decides to buy that book and makes a purchase from our website. You as an affiliate member get your share. Simple!
                    </p>
                    <hr class="singleline">
                    <p>
                        <h5>Which professionally designed tools do I have to use on my website/blog?</h5>
                    </p>
                    <p>
                        You can use links, buttons or search bars for this purpose.
                    </p>
                    <p>
                        <ol>
                            <b><li>Links</li></b>
                            <p>For every book listed on mybooks.com, you can create and customize a link. Follow the following steps:</p>
                            <ol>
                                <li>Select the book for which you want to create link</li>
                                <li>Customize or change the link text as per your choice</li>
                                <li>Highlight and copy the code in text box</li>
                                <li>Paste that code on your website/blog</li>
                            </ol>
                            <b><li>Buttons</li></b>
                            <p>Similar to links, you have another appealing option of linking the books from mybooks.com to your website/blog:</p>
                            <ol>
                                <li>Select the book for which you want to create button</li>
                                <li>Select the button which you find suitable from the given options</li>
                                <li>Highlight and copy the code in text box</li>
                                <li>Paste that code on your website/blog</li>
                            </ol>
                            <b><li>Search bar</li></b>
                            <p>Your website can be used to browse books listed on mybooks.com using its search bar.</p>
                            <ol>
                                <li>Highlight and copy the code in text box</li>
                                <li>And paste the code on your website to get mybooks.com search tool</li>
                            </ol>
                        </ol>
                    </p>
                    <hr class="singleline">
                    <p>
                        <h5>How do I keep track of my earnings through this affiliate programme?</h5>
                    </p>
                    <p>
                        You need to sign up for free affiliate membership. This will give you your log in credentials and you can keep track of your traffic, payments and earnings. mybooks provides you all the information using which you can optimize your earnings by traffic control and make most use of your affiliate membership.
                    </p>
                </div>
            </div>
            <div class="col-lg-1 order-lg-2 order-3"></div>
        </div>
    </div>
</body>
{%endblock%}