{%extends "index.html"%}

{%block content%}
<style>
    * {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px
    }

    .breadcrumb-item+.breadcrumb-item::before {
        content: ">"
    }

    .breadcrumb {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: .1rem 0rem !important;
        margin-bottom: 0rem;
        list-style: none;
        /* background-color: #ffffff; */
        border-radius: .25rem
    }

    .product_name {
        font-size: 20px;
        font-weight: 400;
        margin-top: 0px
    }

    .product_description {
        padding-left: 0px
    }

    p,li {
        font-size: 16px;
    }
</style>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 order-lg-2 order-1"></div>
            <div class="col-lg-10 order-2">
                <div class="product_description">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Career</li>
                        </ol>
                    </nav><br><br>
                    <figure>
                        <img src="../static/Work with us.jpg" alt="Loading.." style="width: 100%">
                    </figure>
                    <figure>
                        <img src="../static/careers.jpg" alt="Loading.." style="width: 100%">
                    </figure>
                    <p>
                        MyBooks is one of the most popular online book shops from where readers can buy any book at an affordable price. Apart from reading books, various kinds of books like academics are also sold here.
                    </p>
                    <p>
                        MyBooks is a Delhi-based company under which more than 100 employees work. Various categories of roles are open here for which candidates can apply. MyBooks also provides internships based on qualifications.
                    </p>
                    <p>
                        Here at MyBooks, every worker is treated as a contributor who contributes to the successful growth and development of the company. We look forward to welcoming new determinant talents who aim to excel in life and give purpose to their deeds in our expanding family of MyBooks.
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <img src="../static/career pic 1.jpg" alt="Loading.." style="width: 100%; height: 320px;">
                        </div>
                        <div class="col-6">
                            <img src="../static/career pic 2.jpg" alt="Loading.." style="width: 100%; height: 320px;">
                        </div>
                        <div class="col-12"><center>
                            <img src="../static/career pic 3.jpg" alt="Loading.." style="width: 560px; height: 320px; align-items: center;">
                        </center></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 order-lg-2 order-3"></div>
        </div>
    </div>
</body>
{%endblock%}